body {
  background-color: rgba(255, 0, 149, 0.26);
}
.App {
  text-align: center;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.ulist {
  display: flex;
  width: 30%;
  justify-content: space-around;
  list-style: none;
}

.fav-anime-li {
  justify-self: flex-end;
}

.input-div {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 30px;
}

.input-div input {
  width: 200px;
  height: 30px;
  border: 1px solid rgba(255, 0, 149, 0.473);
  border-radius: 15px 0 0 15px;
  text-align: center;
}

.input-div input::placeholder {
  color: rgb(255, 0, 149);
  font-size: 12px;
  padding: 10px;
}

.input-div input:focus {
  outline: none;
  color: rgba(255, 0, 149, 0.473);
}

.input-div button {
  background: rgb(255, 0, 149);
  border: 1px solid rgba(255, 0, 149, 0.473);
  border-radius: 0 15px 15px 0;
}

.liked-animes {
  width: 60%;
  background: white;
  border-radius: 5%;
  border: 1px solid rgba(75, 69, 69, 0.678);
  text-align: justify;
  margin: 20px auto;
}

.liked-anime-list {
  margin: 20px;
}
